{% extends 'base.html' %}

{% block title %}

	Index page
	
{% endblock %} 

{% block content_title %}

	Main page
	
{% endblock %} 


{% block content %}

<div class="col-md-offset-3 col-md-6">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum, odio reprehenderit fugiat quod repudiandae eveniet corrupti neque pariatur ullam provident. Eos tempora in iusto aliquam animi, inventore delectus eaque.</p>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum beatae magni incidunt repellendus molestias similique provident iste consequatur, libero, voluptas sint quis voluptate! Quasi vel non necessitatibus. Temporibus, possimus, quos.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum beatae magni incidunt repellendus molestias similique provident iste consequatur, libero, voluptas sint quis voluptate! Quasi vel non necessitatibus. Temporibus, possimus, quos.</p>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur repellat voluptas deleniti ad facere. Hic sunt accusamus at, vitae. Culpa voluptatibus quia sit earum nostrum cum velit numquam eaque delectus.</p>
</div>
		
{% endblock %} 
	
